name: Backend CI

on:
  pull_request:
    branches:
      - dev
      - main
    paths:
      - "backend/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache-dependency-path: backend/go.sum

      - name: Run tests
        run: go test ./...

      - name: Build
        run: go build ./...
